p{
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
}

#titulo-principal{
    color:blue;
}

.destaque{
    background-color:yellow;
}

.importante{
    color:red;
}

input[type="password"]{
    border: 2px solid blue;
}

button{
    &:hover{
        background-color: purple;
    }
}

.container > div > p {
    color: red;
}

p::first-letter{
    font-size: 20px;
}

li:first-child{
    font-weight: bold;

}